*{
    box-sizing: border-box;
    margin: 0;
}

/*Allmänt*/
p {
    font-family: sans-serif;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(33, 80, 152);
    padding-top: 1vh;
    font-size: 5vh;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(33, 80, 152);
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 2vh;
    font-size: 25px;
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.link {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding-left: 5px;
}   

footer {
    background-color: rgb(33, 80, 152);
    color: white;
    padding: 2%;
}

.social_icons {
    display: flex;
    height: auto;
    border-radius: 25%;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 1%;
}

.icons_line {
    display: flex;
    align-items: center;
    padding: 1%;
}

.footer_headline {
    font-size: 20px;
}

/*Startsida*/
#bildspel {
    width: 100vw;
    position: relative;
    margin: auto;
}

.bildlayout {
    width: 100vw;
    height: 75vw;
}

.slides_imgs {
    display: none;
}

#welcome {
    padding-left: 5vw;
    padding-right: 2vw;
    font-family: sans-serif;
}


/*Destinationer*/

.destinations_text {
    display: block;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 3%;
}

.main_img {
    width: 100vw;
}

.destinations_img {
    display: block;
    width: 80vw;
    margin: auto;
}


/*Before trip*/
.before_trip_caption {
    text-align: left;
}


@media screen and (max-width: 479px) {
    /*Mobil grid*/
    .wrapper_startsida {
        display: grid;
        grid-template-areas: 
        'nav nav'
        'se1 se1'
        'ar1 ar1'
        'gu1 gu1'
        'fot fot' 
        'fet fet'
        ;
        grid-template-columns: 20vw 80vw;
        grid-template-rows: 13vh auto 75vh 50vh 27vh auto;
    }

    .wrapper_destinations {
        display: grid;
        grid-template-areas: 
        'nav'
        'fi1'
        'he2'
        'se2'
        'gu2'
        'fot'
        'fet'
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 13vh auto 10vh 345vh 45vh 27vh 48vh;
        color: rgb(33, 80, 152);
    }

    .wrapper_adventures {
        display: grid;
        grid-template-areas: 
        'nav'
        'fi2'
        'he5'
        'se5'
        'fi4'
        'ar2'
        'fi5'
        'ar7'
        'fi6'
        'ar8'
        'fi7'
        'ar9'
        'fi8'        
        'mo1'
        'fi9'
        'mo2'
        'gu3'
        'fot'
        'fet'
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 13vh auto 16vh 35vh auto 25vh auto 20vh auto 18vh auto 35vh auto 27vh auto 28vh 50vh 27vh 48vh;
    }

    .wrapper_before_trip {
        display: grid;
        grid-template-areas: 
        'nav'
        'he3'
        'ar3'
        'ar4'
        'ar5'
        'se3'
        'fot'
        'fet'
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 13vh 10vh 75vh 35vh 50vh 85vh 27vh 48vh;
    }

    .wrapper_questions {
        display: grid;
        grid-template-areas: 
        'nav'
        'fi3'
        'ar6'
        'mo3'
        'mo5'
        'mo6'
        'mo7'
        'gu4'
        'fot'
        'fet'
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 13vh auto 65vh 60vh 65vh 35vh 40vh 45vh 27vh 48vh;
    }


    /* För alla mobila sidor*/

    #voyage_mobil {
        grid-area: nav;
        display: flex;
        background-color: rgb(33, 80, 152);
        width: 100vw;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        z-index: 5;     
        position: fixed;
        top: 0;
        margin: 0;
        padding-top: 1vh;
        height: 13vh;
    }

    #bar {
        display: inline-flex;
        width: 65vw;
        align-content: center;
        align-items: center;
        justify-content: left;
        font-size: 150%;
    }

    #voyage_dator {
        display: none;
    }

    .menu_mobil {
        width: 70vw;
        height: 100vh;
        top: 0;
        left: -90vw;
        position: fixed;
        transition: left 0.3s;
        color: white;
        font-size: 150%;
        box-shadow: 15px 0px 50px -10px rgba(0,0,0,0.75);
        z-index: 10;
        padding-top: 13vh;
        padding-bottom: 30px;
        padding-left: 5vw;
        background-image: url("/img/water.jpg");
        background-size: 150vh;
        background-repeat: no-repeat;
    }

    .menu-button {
        cursor: pointer;
        display: inline;
    }

    .menu-button i.material-icons {
        font-size: 3rem;
        color: white;
        width: 10vw;
    }

    .line {
        list-style-type: square;
        line-height: 7vh;
        font-family: sans-serif;
    }

    .show {
        left: 0;
    }

    .clear {
        display: none;
    }

    .clear_show {
        position: fixed;
        left: 35px;
        top: 40px;
    }

    #clear_icon {
        font-size: 2.5rem;
    }

    .clear.visible {
        display: block;
    }    

    #logga_mobil {
        width: 50px;
        margin: 0;
    }

    h3 {
        text-align: center;
    }

    .guldkorn {
        background-color: rgb(241, 238, 221);
        color: rgb(33, 80, 152);
        padding: 2%;
    }   

    .guldkorn_img {
        width: 50vw;
        padding-bottom: 2%;
        display: block;
        margin: auto;
    }

    .guldkorn_places {
        font-size: 20px;
        text-align: center;
    }

    .guldkorn_info {
        text-align: center;
    }

    .guldkorn_dator {
        display: none;
    }

    .footer1 {
        grid-area: fot;
        line-height: 1.5;
        border: solid rgb(33, 80, 152);
    }

    .footer2 {
        grid-area: fet;
        line-height: 1.5;
        border: solid rgb(33, 80, 152);
    }

    .social_icons {
        width: 10vw;
    }
    /* Startsida mobil*/

    #welcome {
        grid-area: ar1;
    }

    #bildspel {
        grid-area: se1;
        margin: auto;
        position: relative;
        margin: 0;
    }

    #guldkorn_startsida {
        grid-area: gu1;
    }

    /*Denstinations mobil*/

    #destinations_figure {
        grid-area: fi1;
    }

    #header_destinations {
        grid-area: he2;
        border: solid rgb(33, 80, 152);
        margin-bottom: 2vh;
    }

    #countries {
        grid-area: se2;
    }

    #guldkorn_destinations {
        grid-area: gu2;
    } 

    #header_img_dator {
        display: none;
    }


    /*Adventures mobil*/
    #main_figure_adventures {
        grid-area: fi2;  
    }

    #main_img_adventures {
        width: 100vw;
    }

    .adventures_img {
        width: 50vw;
    }

    #header_adventures {
        grid-area: he5;
        border: solid rgb(33, 80, 152);
        padding: 1%;
    }

    #inledning_adventures {
        grid-area: se5;
        margin-top: 2vh;
        color: rgb(33, 80, 152);
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 3%;
    }

    .for_computer_text {
        display: none;
    }
    .img_adventures {
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 3%;
    }

    #img_adventures1 {
        grid-area: fi4; 
    }

    #img_adventures2 {
        grid-area: fi5; 
    }    
    
    #img_adventures3 {
        grid-area: fi6; 
    }    
    
    #img_adventures4 {
        grid-area: fi7; 
    }

    #img_adventures5 {
        grid-area: fi8;
    }

    #img_adventures6 {
        grid-area: fi9;
    }

    #article_adventures1 {
        grid-area: ar2;
    }

    #article_adventures2 {
        grid-area: ar7;
    }    
    
    #article_adventures3 {
        grid-area: ar8;
    }    

    #article_adventures4 {
        grid-area: ar9;
    }

    #article_adventures5 {
        grid-area: mo1;
    }

    #article_adventures6 {
        grid-area: mo2;
    }

    .article_adventures {
        color: rgb(33, 80, 152);
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 3%;
    }

    #guldkorn_adventures {
        grid-area: gu3;
    }


    /*Before trip mobil*/
    #header_before_trip {
        grid-area: he3;
        margin: 4px;
        border: solid rgb(33, 80, 152);
    }

    .before_trip_text {
        padding: 3%;
    }

    #take_with {
        grid-area: ar3;
        color: rgb(33, 80, 152);
        padding-top: 3vh;
    }

    #dont_take_with {
        padding-top: 3vh;
        grid-area: ar4;
        color: rgb(33, 80, 152);
    }

    #remeber {
        padding-top: 3vh;
        grid-area: ar5;
        color: rgb(33, 80, 152);
    }

    #backpack {
        padding-top: 3vh;
        grid-area: se3;
        color: rgb(33, 80, 152);
    }

    /*Questions mobil*/

    #header_questions {
        display: none;
    }

    #figure_questions {
        grid-area: fi3;
    }

    #question1 {
        grid-area: ar6; 
        padding-top: 5vh;
        border: solid rgb(33, 80, 152);
        margin: 1%;
        margin-bottom: 5vh;
    }

    #question2 {
        grid-area: mo3; 
        padding-top: 5vh;
        border: solid rgb(33, 80, 152);
        margin: 1%;
        margin-bottom: 5vh;
    }

    #question4 {
        grid-area: mo5; 
        padding-top: 5vh;
        border: solid rgb(33, 80, 152);
        margin: 1%;
        margin-bottom: 5vh;
    }

    #question5 {
        grid-area: mo6; 
        padding-top: 5vh;
        border: solid rgb(33, 80, 152);
        margin: 1%;        
        margin-bottom: 5vh;
    }

    #question6 {
        grid-area: mo7; 
        padding-top: 5vh;
        border: solid rgb(33, 80, 152);
        margin: 1%;
        margin-bottom: 5vh;
    } 

    #guldkorn_questions {
        grid-area: gu4;
    }

    .text_questions {
        padding: 6%;
    }

    #questions_img {
        width: 100vw;
    }

    #figure_questions1 {
        display: none;
    }

    #figure_questions2 {
        display: none;
    }
}


@media screen and (min-width: 479px) {
    .wrapper_startsida {
        display: grid;
        grid-template-areas: 
        'nav nav'
        'se1 se1'
        'ar1 ar1'
        'gu1 gu1'
        'fot fet' 
        ;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 18vh auto 40vh 80vh auto;
    }

    .wrapper_destinations {
        display: grid;
        grid-template-areas: 
        'nav nav'
        'fi1 fi1'
        'he4 he4'
        'se2 se2'
        'gu2 gu2'
        'fot fet' 
        ;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 18vh auto 15vh 850vh 70vh auto;
        color: rgb(33, 80, 152);
    }

    .wrapper_adventures {
        display: grid;
        grid-template-areas: 
        'nav nav nav nav'
        'fi2 fi2 fi2 fi2'
        'he5 he5 he5 he5'
        'se5 se5 se5 se5'
        'ar2 ar2 fi3 fi3'
        'fi4 fi4 ar3 ar3'
        'ar4 ar4 fi5 fi5'
        'fi6 fi6 ar5 ar5'
        'ar7 ar7 fi8 fi8'        
        'fi7 fi7 ar6 ar6'
        'gu3 gu3 gu3 gu3'
        'fot fot fet fet' 
        ;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: 18vh auto 15vh 30vh auto 70vh 70vh auto auto auto 75vh auto;
    }

    .wrapper_before_trip {
        display: grid;
        grid-template-areas: 
        'nav nav nav nav nav nav'
        'he6 he6 he6 he6 he6 he6'
        'se3 se3 ar8 ar8 ar9 ar9'
        'se4 se4 se4 se4 se4 se4'
        'fot fot fot fet fet fet' 
        ;
        grid-template-columns: 17vw 17vw 16vw 16vw 17vw 17vw;
        grid-template-rows: 18vh 15vh 160vh 55vh auto;
        background-image: url("/img/background_view.jpg");
        background-size: cover;
    }

    .wrapper_questions {
        display: grid;
        grid-template-areas: 
        'nav nav nav nav'
        'he7 he7 he7 he7'
        'fi9 fi9 mo2 mo2'
        'mo1 mo1 mo7 mo7'
        'mo4 mo4 mo4 mo4'
        'mo5 mo5 mo6 mo6'
        'gu4 gu4 gu4 gu4'
        'fot fot fet fet' 
        ;
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: 18vh 25vh auto auto 60vh 55vh 70vh auto;
    }

    /* För alla sidor dator*/

    #voyage_mobil {
        display: none;
    }

    .menu_mobil {
        display: none;
    }

    #voyage_dator {
        grid-area: nav;
        display: inline-flex;
        width: 100vw;
        background-color: rgb(33, 80, 152);
        align-content: space-between;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        position: sticky;
        z-index: 1000;
        top: 0;
    }

    .link :hover {
        color: rgb(201, 201, 201);
    }

    .dark_link {
        color: white
    }

    #logga_dator {
        width: 9vw;
    }

    .footer1 {
        grid-area: fot;
        padding-top: 5vh;
        line-height: 1.6;
        padding-left: 3vw;
    }

    .icons_line {
        line-height: 4;
    }

    .footer2 {
        grid-area: fet;
        padding-top: 5vh;
        line-height: 1.6;
        padding-right: 4vw;
    }

    .social_icons {
        width: 3vw;
    }

    .main_img {
        display: block;
        width: 46vw;
        margin: auto;
        padding-top: 2vh;
    }

    /*Startsida dator*/

    #bildspel {
        grid-area: se1;
        position: relative;
        text-align: center;
        margin-top: 2vw;
    }


    .bildlayout {
        width: auto;
        height: 70vh;
        border-radius: 3px;
        margin: 0;
    }

    #welcome {
        grid-area: ar1;
    }

    #guldkorn_startsida {
        grid-area: gu1;
    }

    .guldkorn {
        background-color: rgb(241, 238, 221);
        color: rgb(33, 80, 152);
        text-align: center;
    }

    .guldkorn_places {
        font-size: 25px;
        margin-left: 2vw;
    }

    .guldkorn_info {
        padding-left: 30vw;
        padding-right: 30vw;
    }

    .guldkorn_img {
        height: 40vh;
    }

    .guldkorn_dator {
        padding-left: 25vw;
        padding-right: 25vw;
    }

    h3 {
        margin-left: 2vw;
    }

    /*Destinations dator*/


    #header_destinations {
        grid-area: he4;
        border: solid rgb(33, 80, 152);
        margin-bottom: 2vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 2vh;
    }

    #destinations_figure {
        grid-area: fi1;        
    }

    #countries {
        grid-area: se2;
    }

    #guldkorn_destinations {
        grid-area: gu2;
    }

    /*Adventures dator*/


    #main_img_adventures {
        display: block;
        width: 46vw;
        margin: auto;
        padding-top: 2vh;
    }

    #main_figure_adventures {
        grid-area: fi2;
    }

    #header_adventures {
        grid-area: he5;
        border: solid rgb(33, 80, 152);
        margin-bottom: 2vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 2vh;
    }

    #inledning_adventures {
        grid-area: se5;
        margin-top: 2vh;
        color: rgb(33, 80, 152);
        margin-left: 15vw;
        margin-right: 15vw;
    }

    #img_adventures1 {
        grid-area: fi3; 
        background-color: rgb(33, 80, 152);
        padding-left: 5vw;
        padding-top: 0.5vh;
    }

    #adventures_img1 {
        width: 45vw;
    }

    #img_adventures2 {
        grid-area: fi4; 
        padding-top: 7vh;
        padding-left: 3vw;
    }

    #adventures_img2 {
        width: 40vw;
    }

    #img_adventures3 {
        grid-area: fi5; 
        padding-left: 13vw;
        padding-top: 6vw;
        border-top: solid rgb(33, 80, 152);
    }

    #adventures_img3 {
        width: 30vw;
    }

    #img_adventures4 {
        grid-area: fi6; 
        background-color: rgb(33, 80, 152);
        padding-left: 2vw;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    #adventures_img4 {
        width: 50vw;
    }

    #img_adventures5 {
        grid-area: fi7; 
        background-color: rgb(33, 80, 152);
        padding-left: 13vw;
        padding-right: 3vw;
        padding-top: 15vh;
        padding-bottom: 15vh;
    }

    #adventures_img5 {
        width: 30vw;
    }

    #img_adventures6 {
        grid-area: fi8;
        padding-top: 5vh; 
        padding-bottom: 5vh;
    }

    #adventures_img6 {
        width: 50vw;
    }


    #article_adventures1 {
        grid-area: ar2;
        background-color: rgb(33, 80, 152);
        color: white;
        padding-top: 3vh;
        padding-left: 5vw;
    }

    #article_adventures2 {
        grid-area: ar3;
        color: rgb(33, 80, 152);
        padding-top: 12vh;
        padding-right: 5vw;
    }

    #article_adventures3 {
        grid-area: ar4;
        color: rgb(33, 80, 152);
        padding-left: 3vw;
        padding-top: 15vh;        
        border-top: solid rgb(33, 80, 152);
    }

    #article_adventures4 {
        grid-area: ar5;
        background-color: rgb(33, 80, 152);
        color: white;
        padding-left: 10vw;
        padding-right: 6vw;
        padding-top: 13vh;
    }

    #article_adventures5 {
        grid-area: ar6;
        background-color: rgb(33, 80, 152);
        color: white;
        padding-right: 7vw;
        padding-top: 8vh;
    }

    #article_adventures6 {
        grid-area: ar7;
        color: rgb(33, 80, 152);
        padding-left: 7vw;
        padding-right: 3vw;
        padding-top: 8vh;
    }


    #guldkorn_adventures {
        grid-area: gu3;
    }


    /*Before trip dator*/

    #header_before_trip {
        grid-area: he6;
        border: solid rgb(33, 80, 152);
        margin-bottom: 2vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 3vh;
        background: white;
        border-radius: 3%;
    }

    #white_headline {
        color: white;
    }

    #backpack {
        grid-area: se3;
        margin: 2%;
        border: solid rgb(33, 80, 152);
        padding: 3%;
        margin-left: 10vw;
        background: white;
        color: rgb(33, 80, 152);
        line-height: 1.5;
        border-radius: 1%;

    }

    #take_with {
        grid-area: ar8;
        margin: 2%;
        border: solid rgb(33, 80, 152);
        padding: 3%;
        color: white;
        background-color: rgb(33, 80, 152);
        line-height: 1.5;
        border-radius: 1%;
    }

    #dont_take_with {
        grid-area: ar9;
        margin: 2%;
        margin-right: 10vw;
        border: solid rgb(33, 80, 152);
        padding: 3%;
        color: rgb(33, 80, 152);
        background: white;
        line-height: 1.5;
        border-radius: 1%;
    }

    #remeber {
        grid-area: se4;
        margin: 2%;
        border: solid rgb(33, 80, 152);
        padding: 2%;
        background: white;
        color: rgb(33, 80, 152);
        line-height: 1.5;
        border-radius: 1%;
    }


    /*Questions dator*/
    #figure_questions {
        display: none;
    }

    #header_questions {
        grid-area: he7;
        border: solid rgb(33, 80, 152);
        margin-bottom: 9vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 7vh;
    }
    
    #questions_img {
        height: 80vh;
        display: block;
        margin: auto;
        padding-top: 2vh;
    }

    .the_questions {
        padding-left: 5vw;
        padding-right: 5vw;
        color: rgb(33, 80, 152);
        line-height: 1.5;
    }

    .img_questions_side {
        width: 35vw;
    }

    #figure_questions1 {
        grid-area: fi9;
        background-color: rgb(33, 80, 152);
        padding-left: 3vw;
    }

    #figure_questions2 {
        grid-area: mo7;
        margin-top: 10vh;
        padding-left: 7vw;
    }

    .questions {
        text-align: left;
    }

    #question1 {
        grid-area: mo1;
        margin-top: 9vh;
    }

    #question2 {
        grid-area: mo2;
        background: rgb(33, 80, 152);
        color: white;   
        padding-top: 5vh;
        padding-right: 10vw;
    }    
    
    #white_heder {
        color: white;
        text-align: center;
    }

    #white_head {
        color: white
    }
    
    #question4 {
        grid-area: mo4;
        background-color: rgb(33, 80, 152);
        color: white;
        margin-top: 10vh;
        padding-top: 5vh;
        padding-right: 10vw;
        padding-left: 10vw;
    }    

    #question5 {
        grid-area: mo5;
        margin-top: 8vh;
        border: solid rgb(33, 80, 152);
        margin-bottom: 10vh;
        margin-left: 5vw;
        margin-right: 2vw;
        padding-top: 3vh;
    }

    #question6 {
        grid-area: mo6;
        margin-top: 8vh;
        margin-bottom: 10vh;
        border: solid rgb(33, 80, 152);
        margin-right: 5vw;
        margin-left: 2vw;
        padding-top: 3vh;

    }

    #guldkorn_questions {
        grid-area: gu4;
    }

}