*{
    box-sizing: border-box;
    margin: 0;
}

@media screen and (max-width: 479px) {
    /*Mobil grid*/
    .wrapper_startsida_mobil {
        display: grid;
        grid-template-areas: 
        'nav'
        'se1'
        'ar1'
        'gu1'
        'fot' 
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 7vh, 30vh, 10vh, 150vh, 80vh, 40vh;
    }

    .wrapper_destination_mobil {
        display: grid;
        grid-template-areas: 
        'nav'
        'fi1'
        'he2'
        'se2'
        'gu2'
        'fot'
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 7vh, 30vh, 10vh, 100vh, 80vh, 40vh;
    }

    .wrapper_adventures_mobil {
        display: grid;
        grid-template-areas: 
        'nav'
        'fi2'
        'ar2'
        'gu3'
        'fot'
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 7vh, 40vh, 300vh, 80vh, 40vh;
    }

    .wrapper_before_trip_mobil {
        display: grid;
        grid-template-areas: 
        'nav'
        'he3'
        'ar3'
        'ar4'
        'ar5'
        'se3'
        'fot'
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 7vh, 10vh, 70vh, 70vh, 80vh, 50vh, 20vh;
    }

    .wrapper_questions_mobil {
        display: grid;
        grid-template-areas: 
        'nav'
        'fi3'
        'ar6'
        'gu4'
        'fot'
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 7vh, 30vh, 250vh, 80vh, 40vh;
    }


    /* För alla mobila sidor */
    .menu_mobil {
        width: 70vw;
        height: 100vh;
        background: rgb(33, 80, 152);
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        color: white;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .link{
        color: white;
        text-decoration: none;
        
    }

    .menu-button {
        cursor: pointer;
        display: inline;
    }

    .menu-button i.material-icons {
        font-size: 2.5rem;
        color: white;
    }

    .line{
        list-style-type: square;
        line-height: 7vh;
        font-family: sans-serif;
    }

    .head1{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .head2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .head3{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        padding-top: 5vw;
    }

    .head4{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .show {
        left: 0;
    }

    .clear {
        display: none;
    }

    .clear_show {
        position: fixed;
        left: 15px;
        top: 25px;
    }

    .clear.visible{
        display: block;
    }

    footer{
        grid-area: fot;
        background-color: rgb(33, 80, 152);
        color: white;
        padding: 2%;
        font-family: sans-serif;
    }

    .social_icons {
        display: flex;
        width: 7vw;
        height: auto;
        border-radius: 8px;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .icons_line {
        display: flex;
        align-items: center;
    }

    #logga {
        width: 100px;
    }

    .voyage{
        background-color: rgb(33, 80, 152);
    }



    .guldkorn {
        background-color: rgb(241, 238, 221);
        color: rgb(33, 80, 152);
    }

    .guldkorn_img {
        width: 60vw;
        display: flex;
        padding-bottom: 2%;
    }


    /* Startsida mobil css*/

    #collage {
        grid-area: se1;
    }

    #bildlayout{
        width: 100vw;
    }

    #welcome {
        grid-area: ar1;
        padding: 3%;
        font-family: sans-serif;
    }

    #guldkorn_startsida_mobil {
        grid-area: gu1;
    }





    /*Denstinations mobil css */

    #img_destinations_mobil {
        grid-area: fi1;
        
    }

    #header_destinations_mobil {
        grid-area: he2;
        background-color: lightcoral;
    }


    #countries_mobil {
        grid-area: se2;
        background-color: skyblue;
    }

    #guldkorn_destinations_mobil {
        grid-area: gu2;
        background-color: slateblue;
    }




    /*Adventures mobil css */
    #img_adventures_mobil {
        grid-area: fi2;
    }

    #adventures_text {
        grid-area: ar2;
        background-color: lightgrey;
    }

    #guldkorn_adventures_mobil {
        grid-area: gu3;
        background-color: lightseagreen;
    }



    /*Before trip mobil css */
    #header_before_trip {
        grid-area: he3;
        background-color: turquoise;
    }

    #take_with {
        grid-area: ar3;
        background-color: lightseagreen;
    }

    #dont_take_with {
        grid-area: ar4;
        background-color: lightslategray;
    }

    #remeber {
        grid-area: ar5;
        background-color: limegreen;
    }

    #backpack {
        grid-area: se3;
        background-color: magenta;
    }



    /*Questions mobil css */

    #img_questions_mobil {
        grid-area: fi3;
    }

    #the_questions {
    grid-area: ar6; 
    background-color: turquoise;
    }

    #guldkorn_questions_mobil {
        grid-area: gu4;
        background-color: skyblue;
    }

}
/*Radera css MEN OCKSÅ TILLHÖRANDE HTML */
.img_hej{
    width: 33vw;
}
